//$wheel: 55em;
$wheel: 8em;
$indicator: 30px;
$colors: (#ffffff, #f2f7fd, #e4effa, #d6e6f7, #c8def4, #b9d5f2, #abcdef, #9dc5ec, #8ebcea, #80b4e7, #72abe4, #64a3e1, #559adf, #4792dc, #3989d9, #2b81d7, #2678ca, #2470bb, #2167ad, #1e5f9f, #1c5691, #194e82, #164574, #133d66, #113458, #0e2c49, #0b233b, #091b2d, #06121f, #030a10, #000102, #000000);
$colorDegrees: 360/length($colors);
$colorInvertPosition: floor(length($colors)/2)+2;

body {
  background: #3A454B;
  height: 100%;
  padding: 50px;
}

@function degree($index) {
	@return #{$colorDegrees*($index)}deg;
}

@function invertDegree($index) {
	@return #{-$colorDegrees+($colorDegrees*($index))}deg;
}

@mixin circle($size) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{$size/2});
  top: calc(50% - #{$size/2});
  width: $size;
  height: $size;
}

@mixin quadrant($size) {
  background: transparent;
  height: #{$size/2};
  position: absolute;
  width: #{$size/2};
  z-index: 500;
}

.wheel, .umbrella, .color {
  @include circle($wheel);
}
.wheel {
  overflow: hidden;
}
.umbrella {
  left: calc(50% - #{$wheel/1.53});
  top: calc(50% - #{$wheel/1.53});
  position: relative;
  //-webkit-filter: blur(0em);
  -webkit-filter: blur(.1em);
  -webkit-transform: scale(1.35);
}
.color, .color:nth-child(n+#{$colorInvertPosition}):after {
  clip: rect(0, $wheel, $wheel, #{$wheel/2});
}
.color:after, .color:nth-child(n+#{$colorInvertPosition}) {
  @include circle($wheel);
  clip: rect(0, #{$wheel/2}, $wheel, 0);
}

@for $i from 0 to length($colors) {
  .color:nth-child(#{1+$i}):after {
    background-color: nth($colors, $i+1);
    @if $i == 0 {

    } @else if ($i+1) < $colorInvertPosition {
      transform: rotate(degree($i));
      z-index: #{length($colors)-$i};
    } @else {
      transform: rotate(invertDegree($i));
    }
  }
}

$testBgColor: #abcdef;
$testBorderColor: #283034;

.current-color {
	background: $testBgColor;
	border: 2px solid $testBorderColor;
	border-radius: 50%;
	height: 110px;
	position: absolute;
	width: 110px;
	z-index: 100;
  	left: calc(50% - #{$wheel/2.25});
  	top: calc(50% - #{$wheel/2.25});
}

.gradient-cap {
	background: #ffffff;
	border-radius: 10px 0 0 10px;
	height: 7px;
	left: 62px;
	position: absolute;
	top: 0px;
	width: 6px;
	z-index: 200;
}

.color-indicator-wrapper {
  @include circle($wheel);
}

.top-left-quadrant {
  @include quadrant($wheel);
  left: 0;
  top: 0;
}

.top-right-quadrant {
  @include quadrant($wheel);
  right: 0;
  top: 0;
}

.bottom-left-quadrant {
  @include quadrant($wheel);
  bottom: 0;
  left: 0;
}

.bottom-right-quadrant {
  @include quadrant($wheel);
  bottom: 0;
  right: 0;
}

.color-indicator {
  background: $testBgColor;
  border: 1px solid #FFFFFF;
  border-radius: #{$indicator/2};
  bottom: #{19.78 - $indicator/1.5};
  box-sizing: border-box;
  color: #283034;
  font-size: 12px;
  height: $indicator;
  left: #{60.89 - $indicator/1.5};
  padding-top: 7px;
  position: absolute;
  text-align: center;
  width: $indicator;
  z-index: 600;
}