@wheel: 15em;

.circle(@size){
	border-radius: 50%;
	content: "";
	height: @size;
	left: 50% - (@size/2);
	position: absolute;
	top: 50% - (@size/2);
	width: @size;
}

.color {
	.circle(@wheel);
	background: red;
	clip: rect(0, @wheel, @wheel, (@wheel/2));
	&:after {
		.circle(@wheel);
		background: blue;
		clip: rect(0, (@wheel/2), @wheel, 0);
		transform: rotate(45deg);
	}
}

.color, .color:nth-child(n+7):after {
	clip: rect(0, @wheel, @wheel, (@wheel/2));
}

.color:after, .color:nth-child(n+7) {
	.circle(@wheel);
	clip: rect(0, (@wheel/2), @wheel, 0);
}