body {
  background: #3A454B;
  height: 100%;
  padding: 50px;
}

.wheel, .umbrella, .color {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 4em);
  top: calc(50% - 4em);
  width: 8em;
  height: 8em;
}

.wheel {
  overflow: hidden;
}

.umbrella {
  left: calc(50% - 5.22876em);
  top: calc(50% - 5.22876em);
  position: relative;
  -webkit-filter: blur(0.1em);
  -webkit-transform: scale(1.35);
}

.color, .color:nth-child(n+18):after {
  clip: rect(0, 8em, 8em, 4em);
}

.color:after, .color:nth-child(n+18) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 4em);
  top: calc(50% - 4em);
  width: 8em;
  height: 8em;
  clip: rect(0, 4em, 8em, 0);
}

.color:nth-child(1):after {
  background-color: white;
}

.color:nth-child(2):after {
  background-color: #f2f7fd;
  transform: rotate(11.25deg);
  z-index: 31;
}

.color:nth-child(3):after {
  background-color: #e4effa;
  transform: rotate(22.5deg);
  z-index: 30;
}

.color:nth-child(4):after {
  background-color: #d6e6f7;
  transform: rotate(33.75deg);
  z-index: 29;
}

.color:nth-child(5):after {
  background-color: #c8def4;
  transform: rotate(45deg);
  z-index: 28;
}

.color:nth-child(6):after {
  background-color: #b9d5f2;
  transform: rotate(56.25deg);
  z-index: 27;
}

.color:nth-child(7):after {
  background-color: #abcdef;
  transform: rotate(67.5deg);
  z-index: 26;
}

.color:nth-child(8):after {
  background-color: #9dc5ec;
  transform: rotate(78.75deg);
  z-index: 25;
}

.color:nth-child(9):after {
  background-color: #8ebcea;
  transform: rotate(90deg);
  z-index: 24;
}

.color:nth-child(10):after {
  background-color: #80b4e7;
  transform: rotate(101.25deg);
  z-index: 23;
}

.color:nth-child(11):after {
  background-color: #72abe4;
  transform: rotate(112.5deg);
  z-index: 22;
}

.color:nth-child(12):after {
  background-color: #64a3e1;
  transform: rotate(123.75deg);
  z-index: 21;
}

.color:nth-child(13):after {
  background-color: #559adf;
  transform: rotate(135deg);
  z-index: 20;
}

.color:nth-child(14):after {
  background-color: #4792dc;
  transform: rotate(146.25deg);
  z-index: 19;
}

.color:nth-child(15):after {
  background-color: #3989d9;
  transform: rotate(157.5deg);
  z-index: 18;
}

.color:nth-child(16):after {
  background-color: #2b81d7;
  transform: rotate(168.75deg);
  z-index: 17;
}

.color:nth-child(17):after {
  background-color: #2678ca;
  transform: rotate(180deg);
  z-index: 16;
}

.color:nth-child(18):after {
  background-color: #2470bb;
  transform: rotate(180deg);
}

.color:nth-child(19):after {
  background-color: #2167ad;
  transform: rotate(191.25deg);
}

.color:nth-child(20):after {
  background-color: #1e5f9f;
  transform: rotate(202.5deg);
}

.color:nth-child(21):after {
  background-color: #1c5691;
  transform: rotate(213.75deg);
}

.color:nth-child(22):after {
  background-color: #194e82;
  transform: rotate(225deg);
}

.color:nth-child(23):after {
  background-color: #164574;
  transform: rotate(236.25deg);
}

.color:nth-child(24):after {
  background-color: #133d66;
  transform: rotate(247.5deg);
}

.color:nth-child(25):after {
  background-color: #113458;
  transform: rotate(258.75deg);
}

.color:nth-child(26):after {
  background-color: #0e2c49;
  transform: rotate(270deg);
}

.color:nth-child(27):after {
  background-color: #0b233b;
  transform: rotate(281.25deg);
}

.color:nth-child(28):after {
  background-color: #091b2d;
  transform: rotate(292.5deg);
}

.color:nth-child(29):after {
  background-color: #06121f;
  transform: rotate(303.75deg);
}

.color:nth-child(30):after {
  background-color: #030a10;
  transform: rotate(315deg);
}

.color:nth-child(31):after {
  background-color: #000102;
  transform: rotate(326.25deg);
}

.color:nth-child(32):after {
  background-color: black;
  transform: rotate(337.5deg);
}

.current-color {
  background: #abcdef;
  border: 2px solid #283034;
  border-radius: 50%;
  height: 110px;
  position: absolute;
  width: 110px;
  z-index: 100;
  left: calc(50% - 3.55556em);
  top: calc(50% - 3.55556em);
}

.gradient-cap {
  background: #ffffff;
  border-radius: 10px 0 0 10px;
  height: 7px;
  left: 62px;
  position: absolute;
  top: 0px;
  width: 6px;
  z-index: 200;
}

.color-indicator-wrapper {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 4em);
  top: calc(50% - 4em);
  width: 8em;
  height: 8em;
}

.top-left-quadrant {
  background: transparent;
  height: 4em;
  position: absolute;
  width: 4em;
  z-index: 500;
  left: 0;
  top: 0;
}

.top-right-quadrant {
  background: transparent;
  height: 4em;
  position: absolute;
  width: 4em;
  z-index: 500;
  right: 0;
  top: 0;
}

.bottom-left-quadrant {
  background: transparent;
  height: 4em;
  position: absolute;
  width: 4em;
  z-index: 500;
  bottom: 0;
  left: 0;
}

.bottom-right-quadrant {
  background: transparent;
  height: 4em;
  position: absolute;
  width: 4em;
  z-index: 500;
  bottom: 0;
  right: 0;
}

.color-indicator {
  background: #abcdef;
  border: 1px solid #FFFFFF;
  border-radius: 15px;
  bottom: -0.22px;
  box-sizing: border-box;
  color: #283034;
  font-size: 12px;
  height: 30px;
  left: 40.89px;
  padding-top: 7px;
  position: absolute;
  text-align: center;
  width: 30px;
  z-index: 600;
}
